.qa {
  display: flex;
  flex-direction: column;
}
.question {
  max-width: 50%;
  font-size: xx-large;
  font-weight: 300;
  align-self: center;
}

.answer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.answer input {
  margin: 10px;
}
